<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공통 푸터</title>
</head>
<body>
<footer class="main-footer accent-dark">
    <!--/* To the right */-->
    <div class="float-right d-none d-sm-inline">
        <a th:href="@{https://github.com/djkeh/fastcampus-project-board-admin}" th:text="'게시판 어드민 프로젝트 GitHub'"></a>
    </div>
    <!--/* Default to the left */-->
    <strong>
        <a th:href="@{https://fastcampus.co.kr/}" th:text="'FastCampus'"></a>
    </strong>
</footer>
</body>
</html>